# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.env
/package.json
/package-lock.json
#from Server
*.env
# ignore doc/notes.txt, but not doc/server/arch.txt


# ignore all .pdf files in the doc/ directory and any of its subdirectories


# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
