
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;600;500;900;400;700&display=swap');


 

 

body, html {
  padding:0px;
  margin:0px;
  width:100vw;
  height:100vh;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: scroll;
  transition: all .1s linear;
  position:relative;
  text-decoration: none;
  text-transform:inherit;
  -webkit-user-select: none;
  font-family: 'Roboto', sans-serif;
}


